%section.mb-4
  %div.h3.jumbotron.container-fluid.text-center YOUR CART
#cart-toast-container(style="position: fixed; top: 20px; right: 20px; z-index: 1000;")
/ Section
%section.py-5
  .container.px-4.px-lg-5.mt-5
    .row.gx-4.gx-lg-5.row-cols-md-3
      -unless @cart_products.nil?
        - for product in @cart_products
          .col.mb-5
            = render partial: 'partials/product_card', locals: { product: product, cart: "not nil" }
