%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => "#"} RAFIQ GENERAL TRADING U.K LTD (RGT UK LTD)
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-mdb-target" => "#navbarNav", "data-mdb-toggle" => "collapse", :type => "button"}
      %i.fas.fa-bars
    #navbarNav
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "#"} Home
        %li.nav-item
          %a.nav-link{:href => "#"} Categories
        %li.nav-item
          %a.nav-link{:href => "#"} Cart
        %li.nav-item
          
