%nav.navbar.navbar-expand-lg.navbar-light.bg-li
  .container-fluid
    %a.navbar-brand{:href => "#"} 
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-mdb-target" => "#navbarNav", "data-mdb-toggle" => "collapse", :type => "button"}
      %i.fas.fa-bars
    #navbarNav
      %ul.navbar-nav
        %li.nav-item
          = link_to "Home", root_path, class: "text-white nav-link active", "aria-current": "page"
        %li.nav-item
          = link_to "Cart", cart_path, class: "text-white nav-link active", "aria-current": "page"
        %li.nav-item
          
