%nav.navbar.navbar-expand-lg.navbar-light.bg-li
  .container-fluid
    %a.navbar-brand{:href => "#"} 
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-mdb-target" => "#navbarNav", "data-mdb-toggle" => "collapse", :type => "button"}
      %i.fas.fa-bars
    #navbarNav
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.white.active{"aria-current" => "page", :href => "#"} Home
        %li.nav-item
          %a.nav-link.white{:href => "#"} Categories
        %li.nav-item
          %a.nav-link.white{:href => "#"} Cart
        %li.nav-item
          
