.card-wrapper
.card
    %img.card-img-top{:alt => "Product Image", :src => url_for(product.images[0])}/
    .card-body
        =link_to product.name, products_path(product), class: "h5 card-title text-decoration-none"
        -# %h5.card-title= product.name
        %a.btn.btn-primary{:href => "#"}
            %i.fas.fa-shopping-cart
            Add to Cart