= form_tag(search_products_path, method: :get) do
  = text_field_tag :search, params[:search], placeholder: "Search Product...", class: 'rounded-5 custom-text-field'
  = submit_tag "Search" ,  class: "btn btn-dark rounded-5 search-button"