.jumbotron{
    background: linear-gradient(to bottom right, #11589d, #021e40);
    color: white;
    text-align: center;
    padding: 30px;
}


.jumbotron2{
    background: linear-gradient(to bottom right, #9fa1a4, #021e40);
    color: white;
    text-align: center;
    padding: 30px;
}


.font-weight-100{
    margin: 1.5rem !important;
    font-weight: 100 !important;
    line-height: 2 !important;
    font-size: 1.25rem !important;
}