= render partial: 'partials/category_bar', categories: @categories_bar

%section.h3.jumbotron.text-center.jumbo PRODUCTS
/ Section
%section.py-5
  .container.px-4.px-lg-5.mt-5
    .row.gx-4.gx-lg-5.row-cols-md-3
      - for product in @products
        .col.mb-5
          = render partial: 'partials/product_card', locals: { product: product, cart: nil }
  