

%body

%section.jumbotron.text-center.jumbo
  .container
    %h1.jumbotron-heading E-COMMERCE PRODUCT
/ Section
%section.py-5
  .container.px-4.px-lg-5.mt-5
    .row.gx-4.gx-lg-5.row-cols-md-3
      - for i in 1..21
        .col.mb-5
          = render partial: 'partials/product_card'
      %end
